/* Zera o margin e o border da pagina inteira  */
*{
    margin: 0px;
    border: 0px;
}

/* Seções */

/* Confg. o Body */
body{
    list-style: none;
    text-align: center;
    background-image: url(../Imagens/icone-guitarra2\ sem\ fundo.png);
}
/* Confg. o Header */
header{
   background-color: red;
    background-image: url(../Imagens/fundo\ header.png);
    height: 226px;
    font-family: 'Blaka Hollow', cursive;
    font-size: xx-large;
}
/* Faz os blocos de texto na pagina */
section{
    width: 1200px;
    margin: 20px auto;
    background-color: #e8e8e8;
}
/* Config. o Footer */
footer{
    background-color: #828282 ;
    margin: 15px 0px 0px 0px;
    font-size: small;
    display: block;
}

/* Elementos */

/* Subtitulos */
h2{
    font-style: italic;
    font-weight: bold;
}
/* Tamanho dos paragrafos  */
p{
    font-size: 20px;
}
/* Retira a listagem */
ul{
    list-style: none;
}

/* IDs */

/* Largura Da FlyingV/Les paul */
#lar{
    width: 1000px;
}
/* Config. a foto do instagram */
#insta{
    height: 20px;
    width: 20px;
}
/* Config. a foto do github */
#git{
    margin-left: 7px;
    height: 20px;
    width: 20px;
}
/* Configura a fonte do footer(a) */
#tab{
    font-size: 20px;
}
/* Define a dor  */
#paragrafo{
    color: white;
}

/* Classes */

/* Tamanho das imagens */
.size{
    height: 550px;
}
/* Caracteristicas/titulo */
.font{
    font-weight: bold;
    font-size: x-large;
}
/* Caracteristicas/objeto */
.tam{
    font-style: italic;
    font-size: x-large;
}
/* Define o tamanho dos links do ultimo section  */
.linkFim{
    font-size: 20px;
}
/* Define o Tamanho da fonte de a no footer*/
.linkfooter{
    font-size: 20px;
    padding: 5px;
    padding-right: 10px;
}

/* Funções */

/* define a cor do link  */
a:link, a:visited{
    color: goldenrod ;
}
/* Quando o mause está em cima */
a:hover{
    color: goldenrod;
    background: #FFFFF0;
}
/* Quando o link é ativado */
a:active{
    color: #696969;
}